/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1{
  font-size:3.750em;
  font-family: helvetica, Arial, Sans-Serif;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  float: center;
  color: #98dbce;
}


body{
  background-color: #fff;
  
}
p{
  font-family: 'futura', helvetica, arial, Sans-Serif;
  font-size: 1em;
  line-height: 1.25em;
  padding: 140px;
  padding-top: 80px;
  text-align: left;
  overflow: hidden;
 max-width: 90%;
 margin: 0 auto;
 letter-spacing: 1.5px;
}

#older{
  position: fixed;
  z-index: 9999;
  line-height: 120px;
  margin-top: -100px;
  margin-left: -150px;
  text-align: center;
  top: 50%;
  left: 50%;
}

#BusyBox1{
position: fixed;
top:-50%;
height: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 800;
}

#BusyBox1.active {
  top:0px;
}



.zLow{

}
#BusyBox2
{
position: fixed;
bottom: -50%;
font-size: 0.8em;
font-style: normal;
font-weight: normal;
text-align: center;
height: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 850;
}

#BusyBox2.active {
  bottom:0px;
}

#BusyBox3{
position: fixed;
left: -50%;
height: 100%;
width: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #92f2df;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 998
}

#BusyBox3.active {
  left:1px;
}

#BusyBox4{
position: fixed;
right: -50%;
height: 100%;
width: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #92f2df;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 997;
}

#BusyBox4.active {
  right:0px;
}

.wrapperFull{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 10;
  overflow: hidden;
  text-align: center;
}

.boxStyleFull{
  width: auto;
  height: 100%;
  z-index: 12;
  overflow: hidden;
}

.sliderImageFull{
  width:100%;
  z-index: 11;
}

.boxStyle{
  overflow: hidden;
  width: 100%;
  position: fixed;
}
.knap{
  color: red;
  z-index: 100;
  display: block;
  cursor: pointer;
  font-size: 1em;
  z-index: 9999;
  
}
#knapTop{
  position: fixed;
  top: 24px;
  margin-left: -11px;
  left: 50%;
  width: 22px;
  height: 20px;
  background-image:url('ico/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapTop.activeKnap{
  width: 17px;
  height: 17px;
  margin-left: -8.5px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#knapBund{
  position: fixed;
  bottom: 24px;
  text-align: center;
  margin-left: -11px;
  left: 50%;
  width: 22px;
  height: 20px;
  background-image:url('ico/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapBund.activeKnap{
  width: 17px;
  height: 17px;
  margin-left: -8.5px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#knapVenstre{
  position: fixed;
  left: 24px;
  top: 50%;
  text-align: left;
  margin: -10px auto;
  width: 22px;
  height: 20px;
  background-image:url('ico/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapVenstre.activeKnap{
  width: 17px;
  height: 17px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#knapHojre{
  position: fixed;
  right: 24px;
  top: 50%;
  text-align: right;
  margin: -10px auto;
  width: 22px;
  height: 20px;
  background-image:url('ico/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapHojre.activeKnap{
  width: 17px;
  height: 17px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.sliderImage{
  background-position: center center;
  background-repeat: no-repeat;
  height: 1000px;
  width:100%;
}





#img1{
  background: url('billeder/1.jpg');
}

#img2{
  background: url('billeder/2.jpg'); 
}

#img3{
  background: url('billeder/3.jpg');
}

#img4{
  background: url('billeder/4.jpg');
}

#img6{
  background: url('billeder/6.jpg');
}
#img7{
  background: url('billeder/7.jpg');
}

#img8{
  background: url('billeder/8.jpg');
}

#img9{
  background: url('billeder/c1.jpg');
}
#img10{
  background: url('billeder/c2.jpg');
}
#img11{
  background: url('billeder/c3.jpg');
}



#img12{
  background: url('billeder/9.jpg');
}
#img14{
  background: url('billeder/11.jpg');
}

#img14{
  background: url('billeder/12.jpg');
}
#img17{
  background: url('billeder/14.jpg');
}
#img18{
  background: url('billeder/15.jpg');
}
#img19{
  background: url('billeder/16.jpg');
}
#img20{
  background: url('billeder/17.jpg');
}


/*IPAD Landscape*/
@media only screen and (device-width : 1024px){

p{
    font-size: 0.875em;
    line-height: 1.225;
    max-width: 100%;
    letter-spacing: 1.5px;
  }
}
a, a:link, a:hover, a:active, a:visited{
  color: #000;
  text-decoration: none;
}




/*IPAD Portrat*/
@media only screen and (device-width : 768px){


#BusyBox3{
position: fixed;
left: -100%;
font-size: 0.8em;
font-style: normal;
font-weight: normal;
text-align: center;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #98dbce;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 998;
}

#BusyBox3.active {
  left:0px;
}

#BusyBox4{
position: fixed;
right: -100%;
font-size: 0.8em;
font-style: normal;
font-weight: normal;
text-align: center;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #ff4949;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 999;
}

#BusyBox4.active {
  right:0px;
}

#older{
  position: fixed;
  z-index: 999;
  line-height: 120px;
  margin-top: -65px;
  margin-left: -100px;
  text-align: center;
  width: 200px;
  top: 50%;
  left: 50%;
}
.sliderImageFull img{
  display: block;
margin-left: auto;
margin-right: auto;

}
.wrapperFull img{
display: block;
margin-left: auto;
margin-right: auto;
display: table;
}
.bx-wrapper{
  display: table-cell;
  vertical-align: middle;

}
.bx-wrapper img{
  overflow: scroll;
  max-width: 100%;
  height: auto !important;
  margin-top: 33%;
}
/*Media Query end */
  
}


/*MediaQuery Mobile iphone5*/

@media only screen and (device-width : 320px){

p{
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 55px;
  padding-top: 30px;
}

#BusyBox3{
position: fixed;
left: -100%;
font-style: normal;
font-weight: normal;
text-align: center;
height: 100%;
width: 100%;
overflow: scroll;
background-color: #98dbce;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 998;
}

#BusyBox3.active {
  left:0px;
}

#BusyBox4{
position: fixed;
right: -100%;
text-align: center;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
overflow: scroll;
opacity: 1;
background-color: #98dbce;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 999;
}

#older{
  position: fixed;
  z-index: 899;
  line-height: 120px;
  margin-top: -60px;
  margin-left: -105px;
  text-align: center;
  width: 200px;
  top: 50%;
  left: 50%;
}

.knap{
  zoom:4;
}


.sliderImageFull img{
  display: block;
margin-left: auto;
margin-right: auto;

}
.wrapperFull img{
display: block;
margin-left: auto;
margin-right: auto;
display: table;
}
.bx-wrapper{
  display: table-cell;
  vertical-align: middle;

}
.bx-wrapper img{
  overflow: scroll;
  max-width: 100%;
  height: auto !important;
  margin-top: 40%;
}
}


