/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1{
  font-size:3.750em;
  font-family: helvetica, Arial, Sans-Serif;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  float: center;
  color: #98dbce;
}

p{
  font-family: 'futura', helvetica, arial, Sans-Serif;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 140px;
  text-align: left;
  overflow: hidden;
 max-width: 90%;
 margin: 0 auto;
 letter-spacing: 1.5px;
}

#older{
  position: fixed;
  z-index: 10;
  line-height: 120px;
  margin-top: -36px;
  margin-left: -100px;
  text-align: center;
  top: 50%;
  left: 50%;
}

#BusyBox1{
position: fixed;
top:-50%;
height: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

#BusyBox1.active {
  top:0px;
}



.zLow{

}
#BusyBox2
{
position: fixed;
bottom: -50%;
font-size: 0.8em;
font-style: normal;
font-weight: normal;
text-align: center;
height: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

#BusyBox2.active {
  bottom:0px;
}

#BusyBox3{
position: fixed;
left: -50%;
height: 100%;
width: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #98dbce;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

#BusyBox3.active {
  left:1px;
}

#BusyBox4{
position: fixed;
right: -50%;
height: 100%;
width: 50%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #ff4949;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

#BusyBox4.active {
  right:0px;
}


.boxStyle{
  overflow: hidden;
  width: 100%;
  position: fixed;
}
.knap{
  color: red;
  z-index: 100;
  display: block;
  cursor: pointer;
  font-size: 1em;
  
}
#knapTop{
  position: fixed;
  top: 24px;
  margin-left: -11px;
  left: 50%;
  width: 22px;
  height: 20px;
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapTop.activeKnap{
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  width: 17px;
  height: 17px;
  margin-left: -8.5px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#knapBund{
  position: fixed;
  bottom: 24px;
  text-align: center;
  margin-left: -11px;
  left: 50%;
  width: 22px;
  height: 20px;
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapBund.activeKnap{
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  width: 17px;
  height: 17px;
  margin-left: -8.5px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#knapVenstre{
  position: fixed;
  left: 24px;
  top: 50%;
  text-align: left;
  margin: -10px auto;
  width: 22px;
  height: 20px;
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapVenstre.activeKnap{
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  width: 17px;
  height: 17px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#knapHojre{
  position: fixed;
  right: 24px;
  top: 50%;
  text-align: right;
  margin: -10px auto;
  width: 22px;
  height: 20px;
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  background-position: 0,0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#knapHojre.activeKnap{
  background-image:url('https://dl.dropboxusercontent.com/u/2621877/menusprite.png');
  width: 17px;
  height: 17px;
  background-position: 17px,0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.image img{
  display: cover center;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;

}


/*IPAD Portrat*/
@media only screen and (device-width : 768px){


#BusyBox3{
position: fixed;
left: -100%;
font-size: 0.8em;
font-style: normal;
font-weight: normal;
text-align: center;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #98dbce;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 30;
}

#BusyBox3.active {
  left:0px;
}

#BusyBox4{
position: fixed;
right: -100%;
font-size: 0.8em;
font-style: normal;
font-weight: normal;
text-align: center;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
overflow: hidden;
opacity: 1;
background-color: #ff4949;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
z-index: 40;
}

#BusyBox4.active {
  right:0px;
}

#older{
  position: fixed;
  z-index: 10;
  line-height: 120px;
  margin-top: -20px;
  margin-left: -100px;
  text-align: center;
  width: 200px;
  top: 50%;
  left: 50%;
}
/*Media Query end */
  
}

/*IPAD Landscape*/
@media only screen and (device-width : 1024px){

p{
    font-size: 0.875em;
    line-height: 1.225;
    max-width: 100%;
    letter-spacing: 1.5px;
  }
}



/*MediaQuery Mobile*/



